.task-container {
    max-width: calc(100% - 16px);
    background-color: #444;
    margin: 8px 0;
    padding: 15px;
    border-radius: 5px;
    border-left: 6px solid #444;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    display: flex;
}

.task-title {
    flex: 2;
}

.task-buttons {
    height: 40px;
    display: flex;
    justify-content: flex-end;
}
button {
    background-color: #444;
    border: none;
    font-size: 18px;
    color: chartreuse;
    font-size: 25px;
}